* {
    box-sizing: border-box;
    margin: 0;
  }

html {
    background-image: url("background.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

section {
    box-sizing: content-box;
}
header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 50px 50px 50px;
    width: 100%;
    color: white;
margin: 0;
}
.box-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    flex-wrap: nowrap; /* Correct property for preventing wrapping */
}


.box {
    display: inline-block; /* Display boxes next to each other */
    margin: 10px; /* Add some spacing between the boxes */
    padding: 10px; /* Add padding inside the boxes */
    box-sizing: border-box; /* Include padding and border in the box's total width and height */
    text-align: center; /* Center the text inside the boxes */

}


#box1 {
    width: 100px;
    height: 100px;

}
#box2 {
    width: 150px;
    height: 200px;

}

#navbar {
    position: sticky;
    top: 0;
}

footer {
    background-color: rgba(6, 62, 57, 0.5);
    height: 400px;
}