* {
    box-sizing: border-box;
  }

html {
    background-image: url("background.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;

}

section {
    box-sizing: content-box;
}
.row {
    display: flex;
    column-width: 100px;
    align-items: center;
  }

.column {
    flex: 50%;
    padding: 100px;
    height: 200px; /* Should be removed. Only for demonstration */
    width: 80%;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 50px 50px 50px;
    width: 100%;
    color: white;

}

#navbar {
    position: sticky;
    top: 0;
}

footer {
    background-color: rgba(6, 62, 57, 0.5);
    height: 400px;
}