* {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}
html, body {
    font-family: 'Gruppo', cursive;
    color: #000;

}
html {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars due to margin */
}
h1 {
    margin: 20px;
    font-size: 40px;
}

h3 {
    margin: 20px;
}

.border-container {
    position: relative;
    width: calc(100vw - 40px); /* 100% of the viewport width minus the total padding */
    height: calc(100vh - 40px); /* 100% of the viewport height minus the total padding */
    margin: 20px; /* Add margin instead of padding */
    border: 2px solid #848484; /* Adjust border style as needed */
    box-sizing: border-box; /* Include border in the box's total width and height */
    overflow: auto; /* Allow content to be scrollable when necessary */
    padding: 0; /* Add padding inside the border */
}
/* Hide the scrollbar */
.border-container::-webkit-scrollbar {
    width: 0;
}


header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 50px 50px 50px;
    width: 100%;
    color: white;
    margin: 0;
}
.box-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    flex-wrap: nowrap; /* Correct property for preventing wrapping */
}


.top-box {
    display: inline-block; /* Display boxes next to each other */
    margin: 20px; /* Add some spacing between the boxes */
    padding: 10px; /* Add padding inside the boxes */
    box-sizing: border-box; /* Include padding and border in the box's total width and height */
    text-align: center; /* Center the text inside the boxes */
    font-size: 25px;
}


#top-box1 {
    background-color:rgba(29, 70, 70, 0.5);
    max-width: 80%;
    max-height: 80%;

}
#top-box2 {
    background-color: rgba(40, 93, 94, 0.5);
    max-width: 80%;
    max-height: 80%;

}
.center-box {
    display: inline-block; /* Display boxes next to each other */
    margin: 20px; /* Add some spacing between the boxes */
    padding: 10px; /* Add padding inside the boxes */
    box-sizing: border-box; /* Include padding and border in the box's total width and height */
    text-align: center; /* Center the text inside the boxes */
    font-size: 25px;
}

#center-box {
    background-color: rgba(40, 93, 94, 0.5);
    height: fit-content;

}
.down-box {
    display: inline-block; /* Display boxes next to each other */
    margin: 20px; /* Add some spacing between the boxes */
    padding: 10px; /* Add padding inside the boxes */
    box-sizing: border-box; /* Include padding and border in the box's total width and height */
    text-align: center; /* Center the text inside the boxes */
    font-size: 25px;
}

#down-box1 {
background-color:rgba(29, 70, 70, 0.5);
max-width: 80%;
max-height: 80%;
}

#down-box2 {
    background-color: rgba(40, 93, 94, 0.5);
    max-width: 80%;
    max-height: 80%;
}


/* Mobile adjustments */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 18px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }



    header {
        padding: 5px 10px 10px 10px;
    }
}
